<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>            
            <pattern>%.-1level | %logger | %m \(%F:%L\)%n</pattern>
        </encoder>
    </appender>
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
    <logger name="org.eclipse.jetty" level="WARN" />
	<logger name="org.apache.cxf" level="WARN" />
    <!--
    <logger name="org.springframework" level="WARN" />
    <logger name="org.apache.cxf.bus" level="WARN" />
    <logger name="org.apache.cxf.transport" level="WARN" />
    <logger name="org.apache.cxf.service.factory" level="WARN" />
    <logger name="com.mchange" level="WARN" />
     -->
    <logger name="org.hibernate.cfg" level="INFO" />
    <logger name="org.hibernate.connection" level="INFO" />
    <logger name="org.hibernate.impl" level="INFO" />
</configuration>
