#opaque {
	position: absolute;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 90;
	display: none;
	background-color: black;
	filter: alpha(opacity =   40);
	opacity: 0.4;
}

.info,.success,.warning,.error,.validation {
   z-index: 99;
	width: 44%;
	position: absolute;
	bottom: 50%;
	border: 1px solid;
	left: 30%;
	padding: 15px 16px 15px 50px;
	background-repeat: no-repeat;
	background-position: 15px center;
	padding: 15px 16px 15px 50px;
	display: block;
	text-align: center;
	font-weight: bold;
   border: 1px solid rgba(148, 187, 80, .5);
}

.info {
	color: #00529B;
	color: #000;
	/*background-color: #BDE5F8; */
	background-color: rgb(255, 255, 255);
	background-image: url('../images/info.png');
}

.success {
	color: #4F8A10;
	color: #000;
	/*background-color: #DFF2BF; */
   background-color: rgb(255, 255, 255) !important;
	background-image: url('../images/success.png');
}

.warning {
	color: #9F6000;
	color: #000;
	/*background-color: #FEEFB3; */
	background-color: rgba(255, 255, 255, 1);
	background-image: url('../images/warning.png');
}

.error {
	color: #D8000C;
	color: #000;
	/*background-color: #FFBABA; */
	background-color: rgb(255, 255, 255);
	background-image: url('../images/error.png');
}