/* BUTTONS */
.buttons a,.buttons button {
	width: 64px;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	background: #eef4da; /* #EEF4D4 #e5e5e5; */
	border: 1px solid #bbb; /* #dedede; */
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	font-weight: bold;
	line-height: 120%;
	text-decoration: none;
	color: #565656;
	cursor: pointer;
	padding: 5px 3px 5px 3px; /* Links */
	text-align: center;
	color: #000;
}

.buttons button {
	overflow: visible;
	padding: 4px 10px 3px 7px; /* IE6 */
}

.buttons button[type] {
	padding: 5px 10px 5px 7px; /* Firefox */
	line-height: 17px; /* Safari */
}

*:first-child+html button[type] {
	padding: 4px 10px 3px 7px; /* IE7 */
}

.buttons button img,.buttons a img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 14px;
	height: 14px;
}

/* STANDARD */
button:hover,.buttons a:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}

.buttons a:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

/* POSITIVE */
button.positive,.buttons a.positive {
	color: #529214;
}

.buttons a.positive:hover,button.positive:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

.buttons a.positive:active {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

/* NEGATIVE */
.buttons a.negative,button.negative {
	color: #d12f19;
}

.buttons a.negative:hover,button.negative:hover {
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

.buttons a.negative:active {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}